# Kļūdas un izņēmumu apstrāde
Šajā kursā katrs būs saskāries ar kādu kļūdu. Piemēram:

In [28]:
print('Hello)

SyntaxError: EOL while scanning string literal (<ipython-input-28-db8c9988558c>, line 1)

In [29]:
def funkcija():
pass

IndentationError: expected an indented block (<ipython-input-29-2e1aa164a502>, line 2)

Visu kļūdu saraksts [šeit](https://docs.python.org/3/library/exceptions.html).

## try ... except

    try:
        Veiciet šeit darbības, kuras var neizdoties...
        ...
    except ExceptionI:
        Ja ir noticis izņēmums ExceptionI, tad izpildīt šo bloku.
        ...
    except ExceptionII:
        Ja ir noticis izņēmums ExceptionII, tad izpildīt šo bloku.
        ...
    else:
        Ja nav bijis neviens izņēmums, tad izpildīt šo bloku.
        ...

In [37]:
from ipywidgets import interact
# import ipywidgets as widgets

def f(x):
    try:
        return 1/x
    except ZeroDivisionError:
        return 0

interact(f, x=1);

interactive(children=(IntSlider(value=1, description='x', max=3, min=-1), Output()), _dom_classes=('widget-int…

In [ ]:
def ask_int():
    val = input("Lūdzu ievadi veselu skaitli: ")
    try:
        i = int(val)
    except ValueError:
        i = 0
    
    return i

ask_int()

In [2]:
def ask_int():
    while True:
        val = input("Lūdzu ievadi veselu skaitli: ")
        try:
            i = int(val)
        except ValueError:
            print("Neder. Mēģini vēlreiz!")
            continue
        else:
            print("Paldies.", i)
            break
        finally:
            print("Tiešām paldies.")

ask_int()

Lūdzu ievadi veselu skaitli:
Neder. Mēģini vēlreiz!
Tiešām paldies.
Lūdzu ievadi veselu skaitli: asaas
Neder. Mēģini vēlreiz!
Tiešām paldies.
Lūdzu ievadi veselu skaitli: 12
Paldies. 12
Tiešām paldies.

In [2]:
# f = open('testfile','r')
# f.write('Test write this')
# f.close()

# datetime

### time

In [11]:
import datetime
t = datetime.time(4, 20, 1)
# t
print(t)
print(t.minute)
print(t.second)

04:20:01
20
1

In [13]:
dt = datetime.datetime.now()

In [23]:
dt.microsecond

198638

In [39]:
datetime.datetime.now().microsecond

832397

## date

In [40]:
today = datetime.date.today()
print(today)

2019-09-27

In [43]:
today

datetime.date(2019, 9, 27)

In [44]:
d1 = datetime.date(2018, 6, 1)

In [47]:
d1.month

6

In [48]:
d1.replace(year=2017)

datetime.date(2017, 6, 1)

In [50]:
d1

datetime.date(2018, 6, 1)

In [51]:
d1 = d1.replace(year=2017)

In [52]:
d1

datetime.date(2017, 6, 1)

In [54]:
td = today - d1

In [55]:
print(td)

848 days, 0:00:00

In [60]:
td.days

848

In [61]:
today

datetime.date(2019, 9, 27)

In [62]:
td

datetime.timedelta(days=848)

In [63]:
delta = datetime.timedelta(days=40)

In [64]:
today + delta

datetime.date(2019, 11, 6)

In [65]:
delta = datetime.timedelta(months=1)

TypeError: 'months' is an invalid keyword argument for __new__()

# Collections Module

In [66]:
from collections import Counter

In [67]:
s = 'How many times does each word show up in this sentence word times each each word'

In [68]:
lst = s.split()

In [69]:
lst

['How',
 'many',
 'times',
 'does',
 'each',
 'word',
 'show',
 'up',
 'in',
 'this',
 'sentence',
 'word',
 'times',
 'each',
 'each',
 'word']

In [70]:
c = Counter(lst)

In [71]:
c

Counter({'How': 1,
         'many': 1,
         'times': 2,
         'does': 1,
         'each': 3,
         'word': 3,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1})

In [72]:
Counter([1,1,1,1,1,2,2,2,2,1,1,5,5,5,5,5,6,7])

Counter({1: 7, 2: 4, 5: 5, 6: 1, 7: 1})

In [75]:
c.most_common()

[('each', 3),
 ('word', 3),
 ('times', 2),
 ('How', 1),
 ('many', 1),
 ('does', 1),
 ('show', 1),
 ('up', 1),
 ('in', 1),
 ('this', 1),
 ('sentence', 1)]

In [76]:
c.most_common(3)

[('each', 3), ('word', 3), ('times', 2)]

In [81]:
dict(c)

{'How': 1,
 'many': 1,
 'times': 2,
 'does': 1,
 'each': 3,
 'word': 3,
 'show': 1,
 'up': 1,
 'in': 1,
 'this': 1,
 'sentence': 1}

In [82]:
set(c)

{'How',
 'does',
 'each',
 'in',
 'many',
 'sentence',
 'show',
 'this',
 'times',
 'up',
 'word'}

In [83]:
list(c)

['How',
 'many',
 'times',
 'does',
 'each',
 'word',
 'show',
 'up',
 'in',
 'this',
 'sentence']

In [84]:
c.values()

dict_values([1, 1, 2, 1, 3, 3, 1, 1, 1, 1, 1])

In [85]:
c.items()

dict_items([('How', 1), ('many', 1), ('times', 2), ('does', 1), ('each', 3), ('word', 3), ('show', 1), ('up', 1), ('in', 1), ('this', 1), ('sentence', 1)])

In [86]:
sum(c.values())

16

In [87]:
c.keys()

dict_keys(['How', 'many', 'times', 'does', 'each', 'word', 'show', 'up', 'in', 'this', 'sentence'])

In [88]:
from collections import defaultdict

In [89]:
d = {}

In [91]:
d['one']

KeyError: 'one'

In [92]:
d = defaultdict(object)

In [94]:
d['one']

In [96]:
def f1():
    return 0

d = defaultdict(f1)

In [97]:
d['o']

0

In [98]:
d

defaultdict(<function __main__.f1()>, {'o': 0})

In [99]:
d = defaultdict(lambda: 'vanilla')

In [100]:
d['Jānis'] = 'šokolādes'
d['Zigis'] = 'Piena'

In [101]:
d

defaultdict(<function __main__.<lambda>()>,
            {'Jānis': 'šokolādes', 'Zigis': 'Piena'})

In [102]:
d['Zigis']

'Piena'

In [103]:
d['Ilze']

'vanilla'

In [104]:
from collections import OrderedDict

In [105]:
d1 = {} # parasta vārdnīca
d1['b'] = 'B'
d1['a'] = 'A'
d1['h'] = 'H'
d1['c'] = 'C'

d1

{'b': 'B', 'a': 'A', 'h': 'H', 'c': 'C'}

In [106]:
d2 = OrderedDict()
d2['a'] = 'A'
d2['b'] = 'B'
d2['c'] = 'C'
d2['h'] = 'H'
d2

OrderedDict([('a', 'A'), ('b', 'B'), ('c', 'C'), ('h', 'H')])

In [107]:
d2['a']

'A'

In [109]:
d1['a']

'A'

In [110]:
d1 == d2

True

In [111]:
d3 = OrderedDict()
d3['a'] = 'A'
d3['c'] = 'C'
d3['b'] = 'B'
d3['h'] = 'H'
d3

OrderedDict([('a', 'A'), ('c', 'C'), ('b', 'B'), ('h', 'H')])

In [112]:
d1 == d3

True

In [113]:
d2 == d3

False

In [114]:
from collections import namedtuple

In [115]:
d = ('Reksis', 3, 40)

In [117]:
d

('Reksis', 3, 40)

In [118]:
dog = namedtuple('Dog', 'name age weight')

In [119]:
dog1 = dog(name='Reksis', age=3, weight=40)

In [120]:
dog1

Dog(name='Reksis', age=3, weight=40)

In [121]:
dog1.name

'Reksis'

### Bonus uzdevums
Dota funkcija - _melnā kaste_ - `my_dice()`, kas implementē metamo kauliņu. Pierādīt, ka `my_dice()` funkcija implementē negodīgu metamo kauliņu.

In [122]:
def my_dice():
    import random
    a = ['one','two', 'three', 'four', 'five', 'six']
    probability = [0.1, 0.1, 0.9, 0.1, 0.1, 0.1]

    def biase(lst,probability):
        zipped = zip(lst,probability)
        lst = [[i[0]] * int(i[1]*100) for i in zipped]
        new = [b for i in lst for b in i]
        return new

    biased_list = biase(a,probability)
    return random.choice(biased_list)

In [138]:
my_dice()

'one'

https://medium.com/datadriveninvestor/finding-outliers-in-dataset-using-python-efc3fce6ce32
```python
def detect_outlier(data_1):
    import numpy as np
    outliers=[]
    threshold=2
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)   
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers
```

'four'